* {
	box-sizing: border-box !important;
}

.page-content {
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1400px;
}

.nav-doubler {
	display: flex;
	flex-direction: column;
}
.nav-doubler ul, .nav-doubler nav {
	display: flex;
	flex-direction: row;
}

#navbarMenus {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    max-width: 300px;
    background: rgba(0,0,0,.9);
    visibility: hidden;
    transform: translateX(100%);
    transition: .5s ease
}

#navbarMenus.collapsing {
	height: 100% !important;
}

#navbarMenus.show {
	display: flex;
	transform: translateX(0);
	visibility: visible;
}

#navbarMenus.show {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: flex-end;
}

#navbarMenus .container {
	height: 100%;
}

#mainNav+* {
	margin-top: 150px;
}

#mainNav+.jumbotron-full {
    margin-top: 0;
}

.page-content #mainNav+* {
}

.menu-close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 20pt;
}

.jumbotron-full {
	height: 100vh;
}

.action-bar-bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.action-bar-body {
	background: #FFF;
}

.text-lg, .text-lg li {
    font-size: 1.25em;
    line-height: 1.9em;
}

#navbarMenus ul > ul  {
    padding: 15px;
    font-size: 1rem;
}

#navbarMenus ul > ul a {
    color: #FFF;
}

.menu-icon {
    display: flex;
    align-items: center;
}

.menu-icon:first-child {
    border-radius: 0 0 0 10px;
}

.menu-icon:last-child {
    border-radius: 0 0 10px 0;
}

.box {
    background: #FFF;
    border: 1px solid #EEE;
    box-shadow: 0 5px 6px rgba(0,0,0,.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

.box-head {
    display: block;
    background: #007bff;
    padding: 15px;
    box-shadow: 0 5px 6px rgba(0,0,0,.1);
    border-radius: 10px 10px 0 0;
    color: #FFF;
}

.box-head * {
    margin: 0;
}

.box-head+.box {
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    border-top: 0;
}

.box-small {
    max-width: 400px;
}

.box-medium {
    max-width: 800px;
}

.box .form-group .btn {
    margin-top: 15px;
}

.btn-google {
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.btn-facebook {
    background-color: #3b5998;
    color: #FFF;
}

.btn-full {
    width: 100%;
}


.product-pitcher-details {
    margin-bottom: 7px;
}

.product-pitcher-details .progress {
    height: 4px;
}

.product-pitcher-details .progress .progress-bar {
    background: #333;
}

.product-list {
    margin-bottom: 25px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 25px;
}

.product-list .product-image {
    width: 100px;
    height: 100px;
    background-color: #CCC;
}

.product-featured {
    padding: 0;
    margin-bottom: 30px;
}

.product-featured .product-featured-items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    color: #FFF;
    padding: 25px 25px;
    background-size: cover;
    height: 300px;
    position: relative;
}

.meta-rating {
    color: #FF0;
}

.meta-flag {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 10px;
}

.meta-flag-discount, .meta-flag-hot {
    display: inline-block;
    padding: 7px;
    border-radius: 0 0 5px 5px;
    margin-left: 5px;
    height: 
}

.meta-flag-discount {
    background: #007bff;
}

.meta-flag-hot {
    background: #F00;
}

.footer {
    background: #333;
    color: #FFF;
    padding: 70px 0 50px 0; 
}

.bottom-bar {
    background: #222;
    color: #FFF;
    padding: 30px 0;
}

#carouselBig .carousel-item {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center center;
}

#carouselBig .carousel-item .carousel-item-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    justify-content: center;
}

.week-day-label {
    display: inline-block;
    width: 3em;
}

.image-small {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.image-medium {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.avatar {
    border-radius: 50px;
    background-size: cover;
}

.user-consent {
    text-align: justify;
    max-height: 500px;
    overflow-y: scroll;
    padding: 15px;
    border: 1px solid #EEE;
    background: #FAFAFA;
}